<form method="POST" action="./classes/inc/otj_admin_hours.inc.php">
    <table class='table table-bordered table-striped table-hover' id="hourstable">
        <thead>
            <tr>
                <th scope="col" class="px-2">{{date}}</th>
                <th scope="col" class="px-2">{{activity}}</th>
                <th scope="col" class="px-2">{{what_unit}}?</th>
                <th scope="col" class="px-2">{{impact_role}}</th>
                <th scope="col" class="px-2">{{duration}}</th>
                <th scope="col" class="px-2">{{initial}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" class="px-2" style="background: {{date_red}};"><input class="w-100" type="date" name="date" value="{{date_val}}"></td>
                <td scope="row" class="px-2 w-25" style="background: {{activity_red}};"><textarea class="w-100" name="activity">{{activity_val}}</textarea></td>
                <td scope="row" class="px-2 w-25" style="background: {{whatlink_red}};">
                    <select class="w-100" name="whatlink" selected="{{whatlink_val}}">
                        <option disabled selected>Pick a module</option>
                        {{#whatlink_val_opt}}
                        <option value="{{0}}" {{1}}>{{0}}</option>
                        {{/whatlink_val_opt}}
                    </select>
                </td>
                <td scope="row" class="px-2 w-50" style="background: {{impact_red}};"><textarea class="w-100" name="impact">{{impact_val}}</textarea></td>
                <td scope="row" class="px-2" style="background: {{duration_red}};"><input name="duration" value="{{duration_val}}" style="width: 65px" type="number" step="0.01"></td>
                <td scope="row" class="px-2" style="background: {{initial_red}};"><input name="initial" value="{{initial_val}}" style="width: 65px"></td>
            </tr>
        </tbody>
    </table>
    <input id="userid" name="userid" type="int" hidden value="{{userid}}">
    <input id="courseid" name="courseid" type="int" hidden value="{{courseid}}">
    <input name="id" type="int" hidden value="{{id}}">
    <button type="submit" class="btn-primary mb-2 mr-2 p-2" name="submit">{{update}}</button>
</form>