<div class="d-flex">
    <button class="btn btn-primary mb-2 mr-2 p-2" onclick="window.location.href='./admin.php'" type="button">Back To Main Menu</button>
    <button class="btn btn-primary mb-2 mr-2 p-2" onclick="window.location.href='./otj_plan_admin.php?userid={{userid}}&courseid={{courseid}}'">Reset</button>
</div>
<h1 class="bold text-center">Off The Job - Training Plan - {{username}} - {{coursename}}</h1>