<button onclick="window.location.href='./admin.php'" type="button" class="btn-primary mb-2 mr-2 p-2">{{btm}}</button>
<h2 class="bold text-center">{{title}}</h2>
<div class="d-flex">
    <p class="mr-2">{{lname}}: <input placeholder="name" name="name" value="{{username}}" disabled></p>
    <p class="ml-2">{{qual}}: <input placeholder="Qualification" name="qualification" disabled value="{{coursename}}"></p>
</div>