<h3 class="bold text-center">{{mod_table}}</h3>
<table class='table table-bordered table-striped table-hover' id="modulestable">
    <thead>
        <tr>
            <th class="px-2">{{mod_n}}</th>
            <th class="px-2">{{mod_t}}</th>
            <th class="px-2">{{comp_s}}</th>
        </tr>
    </thead>
    <tbody>
        {{#array}} 
        <tr>
            <td class="px-2">{{0}}</td>
            <td class="px-2">{{1}}</td>
            <td class="px-2" style="background: {{3}};">{{2}}</td>
        </tr>
        {{/array}}
    </tbody>
</table>