<h2 class="bold text-center">{{title}}</h2>
<div class="outer-div-learner-table">
    <h3>{{hi}} {{user}}. <br>{{desc}}</h3>
    <p>{{instruct}}</p>
    {{#courses}}
    <button onclick="course_click({{2}})" id="btn{{2}}" class="btn-primary mb-2 mr-2 p-2">{{0}} {{users}}</button>
    {{/courses}}
</div>